html {
  font-family: Georgia, serif;
  color: #fff;
}

.content {
  background-color: #495562;
}

.btn-ghost {
  border: 3px solid #97a49b;
  color: #fff;
}

a:hover {
  background-color: #fff;
}

.btn-ghost:hover {
  border: 3px solid #efefef;
}

@media only screen and (min-width: 20em) {

  header {
    background-color: #495562;
  }

}

@media only screen and (min-width: 38em) {

  .btn {
    float: right;
  }

}

@media only screen and (min-width: 60em) {

  header {
    position: relative;
  }

  .banner {
    max-height: 500px;
  }

  .banner-content {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(73, 85, 98, .3), rgba(73, 85, 98, .9));
    position: absolute;
    left: 50%;
    bottom: .2%;
    transform: translate(-50%, .2%);
  }

  .btn-ghost {
    border: 3px solid #fff;
    color: #fff;
  }

}
